.navigate{
    height: 30vh;
    background-color:#1d2634 ;
   
}
.sec-1{
    background-color: #e8ebef;
    color:#1d2634 ;
}
#sec2{
    background-color:#1d2634  ;
}
#las{
    background-color: #e8ebef;
}